<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/backbone-min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Service Logs</title>
</head>
<body id="serviceLogs">

<div id="leftMenu">
	<div id="carsList" style="display:none">
		{{#each cars}}
		<div class="car" id="carId{{id}}">
			<a href="logs?carId={{id}}">{{name}}</a>
		</div>
		{{/each}}
	</div>
	<div class="back"><img src="images/arrow-back.png"/ id="leftMenuButton"></div>
</div>

<div id="mainBody">
<div class="header" style="float:left">
<div class="title">{{car.name}}</div>
</div>
<form id="maintenance" action="#">
	<input name="carId" type="hidden" value="{{car.id}}"/>
<table>
<thead>
<tr>
<th class="date">Date</th>
<th class="mileage">Mileage</th>
<th class="service">Service</th>
<th class="cost">Cost</th>
<th class="notes">Notes</td>
<th></th>
<tr>
<td class="date"><input id="gridFriendlyDate" type="text"/><input id="gridServiceDate" name="serviceDate" type="hidden"/></td>
<td class="mileage"><input id="gridMileage" name="mileage" type="text"/></td>
<td class="service"><input id="gridService" name="service" type="text"/></td>
<td class="cost"><input id="gridCost" name="cost" type="text"/></td>
<td class="notes" colspan="2"><input id="gridNote" name="note" type="text"/><input type="submit" style="display:none"/></td>
</tr>
</thead>
<tbody id="logGrid" class="logAddEvent">
<tr class="logUpdateEvent" style="display:none">
<td class="date"></td>
<td class="mileage"></td>
<td class="service"></td>
<td class="cost"></td>
<td class="notes"></td>
<td class="actions"><a href="#maintenanceId={{id}}">E</a></td>
</tr>

</tbody>
</table>
</form>
</div>

<div id="editLogDialog">
	<form id="editMaintenance" action="#">
		<input id="editCarId" name="carId" type="hidden" value="{{car.id}}"/>
		<input id="editId" name="id" type="hidden"/>
		<label>Date:</label><input id="editFriendlyDate" type="text"/><input id="editServiceDate" name="serviceDate" type="hidden"/><br/>
		<label>Mileage:</label><input id="editMileage" name="mileage" type="text"/><br/>
		<label>Service:</label><input id="editService" name="service" type="text"/><br/>
		<label>Cost:</label><input id="editCost" name="cost" type="text"/><br/>
		<label>Note:</label><input id="editNote" name="note" type="text"/>
		<input id="editRegularService" name="regularService" type="checkbox"/><label id="editRegularServiceLabel" >Regular Service:</label>
		<div id="editServiceForm" style="display:none">
			<label>Mileage Interval:</label><input id="editMileageInterval" name="mileageInterval" type="text"/>
			<label>Months Interval:</label><input id="editMonthsInterval" name="monthsInterval" type="text"/>
		</div>
	</form>
</div>

<script>

$( document ).ready(function() {

	//initialize editDialog
	$( "#editLogDialog" ).dialog({
        autoOpen: false, title: "Edit", modal: true,
        buttons: {
            OK: function() {}
        }

    });

	//click action to hide/show car list
	$('#leftMenuButton').on('click', function(e){
		$('#carsList').toggle();
	});

	//toggle action to show regular service form
	$('#editRegularService').on("click", function(e) {
		$('#editServiceForm').toggle();
	});

	//add todays date as placeholder
	$('#gridFriendlyDate').attr("placeholder", DATEUTILS.format(new Date()));


	//place cursur in edit field
	$("#gridMileage").focus();


	var log = new maintenanceApp.MaintenanceLog();
	log.carId = "{{car.id}}";

	//initailize UI elements
	var logView = new maintenanceApp.MaintenanceLogView({
		collection: log,
		id: "logGrid"
	});

	var addLogView = new maintenanceApp.AddLogView({
		collection: log
	});

	log.fetch({reset: true});

	AutoComplete.create('#gridService', SERVICE_AUTOCOMPLETE_PLUGIN, log);
	AutoComplete.create('#gridFriendlyDate', DATE_AUTOCOMPELTE_PLUGIN, DATEUTILS.months);
	TableFilter.create('#gridService','table tbody tr');


});

</script>
<script src="scripts/maintenanceLog.js"></script>
</body>
</html>
