<html>
<head>
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/backbone-min.js"></script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<title>Service Logs</title>
</head>
<body id="serviceLogs">

<div id="leftMenu" style="display:none">
	<div id="carsList">
		{{#each cars}}
		<div class="car" id="carId{{id}}">
			<a href="logs?carId={{id}}">{{name}}</a>
		</div>
		{{/each}}
	</div>
</div>

<div id="mainBody">
<div class="header">
<div id="carsListsBack"><img src="images/arrow-back.png"/ id="leftMenuButton"></div>
<div id="service_due_alert" style="display:none"><i class="fas fa-exclamation-triangle"></i>Service Due!</div>
<div id="carDetails">
<div class="title">{{car.name}}</div>  
<div id="current_mileage">Current mileage: {{car.mileage}} <span id="mileage_reported_on">({{car.mileage_reported_days}} days ago)</span></div>
</div>
</div>
<form id="maintenance" action="#">
<input name="carId" type="hidden" value="{{car.id}}"/>
<table id="maintenanceGrid">
<thead>
<td class="date"><input id="gridFriendlyDate" type="text"/><input id="gridServiceDate" name="serviceDate" type="hidden"/></td>
<td class="mileage"><input id="gridMileage" name="mileage" type="text" placeholder="{{car.mileage}}"/></td>
<td class="service"><input id="gridService" name="service" type="text" placeholder="service"/></td>
<td class="cost"><input id="gridCost" name="cost" type="text" placeholder="cost"/></td>
<td class="notes"><input id="gridNote" name="note" type="text" placeholder="notes"/><input type="submit" style="display:none"/></td>
<td></td>
</tr>
</thead>
<tbody id="scheduledMaintenanceGrid">
<tr style="display:none">
<td class="date"></td>
<td class="mileage"></td>
<td class="service"></td>
<td class="cost"><input type="text" placeholder="cost"/></td>
<td class="notes"><input type="text" placeholder="notes"/></td>
<td class="actions">
	<a class="completed" href="#scheduleId={{id}}"><i class="fas fa-clipboard-check"></i></a>
	<!--a class="deleteScheduledService" href="#scheduleId={{id}}"><i class="far fa-trash-alt"></i></a-->
</td>
</tr>

</tbody>
<tbody id="serviceGrid">
<tr style="display:none">
<td class="date"></td>
<td class="mileage"></td>
<td class="service"></td>
<td class="cost"></td>
<td class="notes"></td>
<td class="actions"><a class="edit" href="#maintenanceId={{id}}"><i class="far fa-edit"></i></a><a class="delete" href="#maintenanceId={{id}}"><i class="far fa-trash-alt"></i></a></td>
</tr>

</tbody>
</table>
</form>
</div>

<div id="editLogDialog">
	<form id="editMaintenance" action="#">
		<input id="editCarId" name="carId" type="hidden" value="{{car.id}}"/>
		<input id="editId" name="id" type="hidden"/>
		<label>Date:</label><input id="editFriendlyDate" type="text"/><input id="editServiceDate" name="serviceDate" type="hidden"/><br/>
		<label>Mileage:</label><input id="editMileage" name="mileage" type="text"/><br/>
		<label>Service:</label><input id="editService" name="service" type="text"/><br/>
		<label>Cost:</label><input id="editCost" name="cost" type="text"/><br/>
		<label>Note:</label><textarea id="editNote" name="note"></textarea>
		<input id="editRegularService" name="regularService" type="checkbox" value="yes"/><label id="editRegularServiceLabel" >Regular Service:</label>
		<div id="editServiceForm" style="display:none">
			<label>Mileage Interval:</label><input id="editMileageInterval" name="mileageInterval" type="text"/>
			<label>Months Interval:</label><input id="editMonthsInterval" name="monthsInterval" type="text"/>
		</div>
	</form>
</div>

<div id="deleteLogDialog">
	<span>Are you sure you want to delete the following service log?</span>
	<div id="deleteLogConfirmation">
		    <div>Service: <span id="deleteService"></span></div>
		    <div>Mileage: <span id="deleteMileage"></span></div>
	</div>
</div>

<script>

$( document ).ready(function() {

	//initialize editDialog
	$( "#editLogDialog" ).dialog({
        autoOpen: false, title: "Edit", modal: true,
        buttons: {
            OK: function() {}
        }

    });

	//initialize editDialog
	$( "#deleteLogDialog" ).dialog({
        autoOpen: false, title: "Edit", modal: true,
        buttons: {
            Cancel: function() {},
            OK: function() {}
        }

    });


	//click action to hide/show car list
	$('#carsListsBack').on('click', function(e){
		$('#leftMenu').toggle();
	});

	//toggle action to show regular service form
	$('#editRegularService').on("click", function(e) {
		$('#editServiceForm').toggle();
	});

	//add todays date as placeholder
	$('#gridFriendlyDate').attr("placeholder", DATEUTILS.format(new Date()));


	//place cursur in edit field
	$("#gridMileage").focus();


	//initailizes the maintenance log collection model
	var serviceLog = new maintenanceApp.ServiceLog();
	serviceLog.carId = "{{car.id}}";

	//initailizes maintenance log table view
	var logView = new maintenanceApp.ServiceLogTableView({
		collection: serviceLog,
		el: "#serviceGrid"
	});

	//initailizes the add maintenance log form
	var addLogView = new maintenanceApp.ServiceRecordAddView({
		collection: serviceLog
	});

	//fetches the maintenance log from the server
	serviceLog.fetch({reset: true});


	//initailizes the maintenance log collection model
	var scheduledMaintenance = new maintenanceApp.ScheduledMaintenanceCollection();
	scheduledMaintenance.carId = "{{car.id}}";

	//initailizes maintenance log table view
	var scheduledMaintenanceGridView = new maintenanceApp.ScheduledMaintenanceTableView({
		collection: scheduledMaintenance,
		el: "#scheduledMaintenanceGrid"
	});
	scheduledMaintenanceGridView.setServiceLog(serviceLog);

	//fetches the maintenance log from the server
	scheduledMaintenance.fetch({reset: true});

	AutoComplete.create('#gridService', SERVICE_AUTOCOMPLETE_PLUGIN, serviceLog);
	AutoComplete.create('#gridFriendlyDate', DATE_AUTOCOMPELTE_PLUGIN, DATEUTILS.months);
	TableFilter.create('#gridService','#serviceGrid tr');


});

</script>
<script src="scripts/maintenanceLog.js"></script>
</body>
</html>
